node_modules/
dist/
.scp/
/resources/
.env
Makefile*.mta
mta_archives
mta-*
resources
archive.zip
.*_mta_build_tmp

/mta_archives/
/node_modules/
/resources/

*.env1
*.zip
.vscode/
*.env*
*/dist/
*/.gitignore

*package-lock.json
